---
---

<section class="relative w-full h-screen bg-bleu text-white flex items-center justify-center">
    <div class="absolute inset-0 bg-cover bg-center grayscale bg-bleu opacity-40" style="background-image: url('/src/assets/image1.avif');">
        <div class="absolute inset-0 opacity-40"></div>
    </div>
    <section class="relative flex flex-col items-center p-6 text-center">
        <p class="text-lg font-medium text-blanc">8, 9 et 10 Août 2025</p>
        <hr class="w-16 border-t-2 border-gris my-2">
        <p class="text-2xl font-semibold text-blanc">Ville d’Ornans</p>
        <hr class="w-16 border-t-2 border-gris my-2">
        <a href="/billetterie" class="mt-4 border-2 border-jaune text-blanc font-bold py-2 px-4 rounded-md hover:bg-jaune">
            Réserver vos billets
        </a>
    </section>
</section>